/***********************
*
* Author: Kamil Czarnocki
*
************************/

span[class]{
    color: salmon;
}

div[id]{
    background: gray;
}

a[title="Google"]{
    color: red;
}

a[href$="pdf"]{
    color: greenyellow;
}