/***********************
*
* Author: Kamil Czarnocki
*
************************/

.block{
    margin: 20px;
    padding: 20px;
    border: 10px solid #000000;
}

.inline{
    padding: 10px;
    margin: 10px;
    border: 10px solid #000000;
    display: inline-block;
} 