/***********************
*
* Author: Kamil Czarnocki
*
************************/

li:nth-child(1), li:nth-child(5){
    font-weight: bold;
}

li:nth-child(even){
    background: rebeccapurple;
}

li:nth-child(odd){
    background: royalblue;
}